@page "/gcalc/indexation"
@inject Calculations calc
@inject NavigationManager navigationManager

<div class="list-group">
    <a class="list-group-item list-group-item-action" @onclick="@ShowIndex" style="cursor: pointer;">Рассчёт индексации</a>
    <a class="list-group-item list-group-item-action" @onclick="@ShowPercent" style="cursor: pointer;">Рассчёт процента индексации</a>
</div>

@if (Percent)
{
    <EditForm Model="@modelPercent" OnValidSubmit="OnSubmitDiff">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="form-group">
            <h1>qwqeqewqweqew</h1>
        </div>
    </EditForm>
}

@if (Diff)
{
    <EditForm Model="@modelDiff" OnValidSubmit="OnSubmitDiff">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="form-group">
            <label for="fA">Первое значение</label><br />
            <InputNumber @bind-Value="@modelDiff.firstAmount" id="fA"></InputNumber>
        </div>
        <div class="form-group">
            <label for="sA">Второе значение</label><br />
            <InputNumber @bind-Value="@modelDiff.secondAmount" id="sA"></InputNumber>
        </div>
        <div class="form-group">
            <label for="fP">Процент от первого</label><br />
            <InputNumber @bind-Value="@modelDiff.firstPercent" id="fP"></InputNumber>
        </div>
        <div class="form-group">
            <label for="sP">Процент от второго</label><br />
            <InputNumber @bind-Value="@modelDiff.secondPercent" id="sP"></InputNumber>
        </div>
        <br />
        <button class="btn btn-success" type="submit"> Посчитать </button>
        <br />
        <h4 style="margin-top: 5px;">@resDiff.ToString("c", new System.Globalization.CultureInfo("ru-RU"))</h4>
    </EditForm>
}
<br />
<button class="btn btn-danger" type="button" @onclick="@Back">
    <i class="oi oi-arrow-thick-left"></i>
    Назад
</button>

@code {
    PercentCalcModel modelDiff = new();
    PercentModel modelPercent = new();

    double resDiff;
    double resPercent;

    bool Percent = false;
    bool Diff = false;

    public void ShowPercent()
    {
        Percent = (Percent == false) ? true : false;
    }

    public void ShowIndex()
    {
        Diff = (Diff == false) ? true : false;
    }

    public void OnSubmitDiff()
    {
        resDiff = calc.CalculatePercentDifference(modelDiff.firstAmount, modelDiff.secondAmount, modelDiff.firstPercent, modelDiff.secondPercent);
    }

    public void Back()
    {
        navigationManager.NavigateTo("/gcalc");
    }
}
