@inject FileUpload fileUpload

<h3>UploadFile Component</h3>

<form @onsubmit="@OnSubmit">
    <InputFile OnChange="@OnInputFileChange" multiple></InputFile>
    <button class="btn btn-success" 
            type="submit">Загрузить</button>
</form>

<h1>@Message</h1>

<button onclick="@infoStatus">Main Directory</button>
<button onclick="@filesInFolder">Count files</button>
<h1>@result | @filesCount</h1>

@code {
    public string Message;
    IReadOnlyList<IBrowserFile> selectedFiles;
    public string result;
    public int filesCount;

    public async Task OnSubmit()
    {
        foreach (var file in selectedFiles)
        {
            if (file.Size >= 512000)
            {
                Message = $"Файл {file.Name} не соотвествует максимальному объёму в 512КБ.\nТекущий размер файла {file.Size}КБ.";
            } 
            //Придумать как обрывается логика    
        } 

        if (selectedFiles != null)
        {
           await fileUpload.LoadFiles(selectedFiles);

            Message = $"{selectedFiles.Count} файл(ов) загружено.";
            this.StateHasChanged(); 
        } else
        {
            Message = $"Вы не выбрали файл для загрузки!";
            this.StateHasChanged();
        }
        
    }

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();
        Message = $"{selectedFiles.Count} файл(ов) выбрано.";
        this.StateHasChanged();
    }

    public void infoStatus()
    {
        result = fileUpload.MainDirOut();
    }

    public void filesInFolder()
    {
        filesCount = fileUpload.fileCountInFoleder();
    }
}
