@inject FileUpload fileUpload

<h3>Загрузка:</h3>

<div class="mb-3 row">
    <form @onsubmit="@OnSubmit">

        <div class="col-auto mb-3 ">
            <label for="inputFile" class="btn btn-secondary me-1">
                <InputFile id="inputFile" OnChange="@OnInputFileChange" class="d-none" />
                <i class="oi oi-paperclip"></i> Выбрать файлы
            </label>

            <button type="submit" class="btn btn-success me-1">
                <i class="oi oi-cloud-upload"></i> Загрузить
            </button>

            <input type="text" readonly class="form-control-plaintext" value="@Message"/>
        </div>

    </form>
</div>

<h1>@Message</h1>

<button onclick="@infoStatus">Директория</button>
<button onclick="@filesInFolder">К-во файлов</button>
<h1>@result | @filesCount</h1>

@code {
    public string Message;
    IReadOnlyList<IBrowserFile> selectedFiles;
    public string result;
    public string filesCount;

    public async Task OnSubmit()
    {
        bool isInRightSize = true;     

        if (selectedFiles != null)
        {
            foreach (var file in selectedFiles)
            {
                if (file.Size >= 512000)
                {
                    Message = $"Ошибка. Файл {file.Name} не соотвествует максимальному объёму в 60КБ.\nТекущий размер файла {file.Size / 1024 / 8}КБ.";
                    isInRightSize = false;
                } 
            }

            if (isInRightSize)
            {
                await fileUpload.LoadFiles(selectedFiles);
                filesInFolder();
                Message = $"{selectedFiles.Count} файл(ов) успешно загружено. Всего в папке {filesCount} файлов";
            }

            this.StateHasChanged(); 
        } else
        {
            filesInFolder();
            if (Message == null) Message = $"Ошибка. {filesCount}";
            this.StateHasChanged();
        }

    }

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();
        Message = $"{selectedFiles.Count} файл(ов) выбрано.";
        this.StateHasChanged();
    }

    public void infoStatus() => result = fileUpload.MainDirOut();

    public void filesInFolder() => filesCount = fileUpload.fileCountInFoleder();
    
}
